site_name: pymwp
site_description: "Implementation of MWP analysis on C code in Python."
docs_dir: docs
site_dir: pages
repo_url: https://github.com/statycc/pymwp
repo_name: statycc/pymwp
edit_uri: blob/main/docs/
use_directory_urls: true

nav:
- Installation & Use: index.md
- Supported Features: features.md
- Examples: examples.md
- Demo: demo.md
- Modules:
  - Introduction: modules.md
  - Analysis: analysis.md
  - Bound: bound.md
  - Choice: choice.md
  - Delta Graph: delta_graphs.md
  - File I/O: file_io.md
  - Matrix: matrix.md
  - Monomial: monomial.md
  - Parser: parser.md
  - Polynomial: polynomial.md
  - Relation: relation.md
  - Relation List: relation_list.md
  - Result: result.md
  - Semiring: semiring.md
- Utilities: utilities.md
- Contributing: contributing.md
- Source Code: https://github.com/statycc/pymwp
- Release History: https://github.com/statycc/pymwp/releases
- Code Archive: https://doi.org/10.5281/zenodo.7879822
- License: https://github.com/statycc/pymwp/blob/main/LICENSE

theme:
  name: material
  favicon: ""
  features:
    - navigation.sections
    - navigation.top
    - content.code.copy
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: light
      primary: blue grey
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue grey
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Inter
    code: Fira Mono

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      use_pygments: true
      linenums: false
      linenums_style: pymdownx.inline
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.snippets
  - pymdownx.magiclink
  - pymdownx.details
  - admonition
  - attr_list
  - md_in_html
  - def_list
  - footnotes

plugins:
  - search
  - include-markdown
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          # paths: [pymwp]
          options:
            annotations_path: brief
            show_labels: true
            show_bases: true
            docstring_section_style: table
          selection:
            new_path_syntax: yes
            filters:
              - "!^_"
              - "^__init__$"
            docstring_style: google
            docstring_section_style: table
            show_source: true
            show_root_heading: false
            show_root_toc_entry: false
            show_category_heading: false
            show_symbol_type_toc: true
  - mike:
      # These fields are all optional; the defaults are as below...
      alias_type: symlink
      redirect_template: null
      deploy_prefix: ''
      canonical_version: null
      version_selector: false
      css_dir: ''
      javascript_dir: ''

extra_css:
  - assets/styles.css

extra_javascript:
  - //cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - assets/config.js
