.doc.doc-object.doc-method {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-top: 2px solid #ddd;
}

.doc.doc-heading {
    font-size: 1.2rem;
    font-weight: 600;
}

.doc.doc-heading > code {
    background: transparent;
    padding-left: 0;
}

/* Site width etc.*/
.md-grid {
    max-width: 64rem !important;
}

/* navigation bar active color*/
.md-nav__item .md-nav__link--active {
    font-weight: bold !important;
    color: var(--md-accent-fg-color);
}

.md-nav__item .md-nav__link--active {
    font-weight: bold !important;
    font-size: .75rem !important;
    color: var(--md-accent-fg-color);
}

.md-content article {
    padding-bottom: 3rem;
}

.md-content article a {
    color: var(--md-accent-fg-color);
}


.doc-label { border-radius: 4px; padding: 1px 3px; font-weight: bold; font-size: .7rem; }
.doc-label code { background: transparent;  color: #000d; }
.doc-label-special { background-color: #673AB7; }
.doc-label-abstractmethod { background-color: #EC407A; }
.doc-label-staticmethod { background-color: #00E676; }
.doc-label-module-attribute { background-color: #00838F; }
.doc-label-property { background-color: #FFA726; }
.doc-label-read-only { background-color: #FFEB3B; }
.doc-label-special code,
.doc-label-private code,
.doc-label-abstractmethod code,
.doc-label-module-attribute code { color: white; }

.highlight.no-copy .md-clipboard { display: none; }