name: Version test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pyversion:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # test legacy runtimes only; build workflow is set to latest
        python: [ 3.7, 3.8, 3.9, "3.10", "3.11" ]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Run tests
        run: make test
